<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap os="linux" cpu="arm">
		<dllentry dll="libGLESv2.so" target="/opt/vc/lib/libbrcmGLESv2.so" />
		<dllentry dll="libOpenVG.dll" target="/opt/vc/lib/libbrcmOpenVG.so" />
		<dllentry dll="libOpenVG.dll" name="eglGetDisplay" target="/opt/vc/lib/libbrcmEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglInitialize" target="/opt/vc/lib/libbrcmEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglBindAPI" target="/opt/vc/lib/libbrcmEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglChooseConfig" target="/opt/vc/lib/libbrcmEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglCreateContext" target="/opt/vc/lib/libbrcmEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglCreateWindowSurface" target="/opt/vc/lib/libbrcmEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglMakeCurrent" target="/opt/vc/lib/libbrcmEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglSwapBuffers" target="/opt/vc/lib/libbrcmEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglDestroySurface" target="/opt/vc/lib/libbrcmEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglDestroyContext" target="/opt/vc/lib/libbrcmEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglTerminate" target="/opt/vc/lib/libbrcmEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglGetError" target="/opt/vc/lib/libbrcmEGL.so" />
	</dllmap>
	<dllmap os="linux" cpu="!arm">
		<dllentry dll="libOpenVG.dll" name="eglGetDisplay" target="libEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglInitialize" target="libEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglBindAPI" target="libEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglChooseConfig" target="libEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglCreateContext" target="libEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglCreateWindowSurface" target="libEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglMakeCurrent" target="libEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglSwapBuffers" target="libEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglDestroySurface" target="libEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglDestroyContext" target="libEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglTerminate" target="libEGL.so" />
		<dllentry dll="libOpenVG.dll" name="eglGetError" target="libEGL.so" />
	</dllmap>
</configuration>
