<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dllmap dll="libGLESv2.so" target="libbrcmGLESv2.so" />
  <dllmap dll="libOpenVG.dll" os="linux" cpu="arm">
    <dllentry dll="libbrcmEGL.so" name="eglGetDisplay" target="eglGetDisplay" />
    <dllentry dll="libbrcmEGL.so" name="eglInitialize" target="eglInitialize" />
    <dllentry dll="libbrcmEGL.so" name="eglBindAPI" target="eglBindAPI" />
    <dllentry dll="libbrcmEGL.so" name="eglChooseConfig" target="eglChooseConfig" />
    <dllentry dll="libbrcmEGL.so" name="eglCreateContext" target="eglCreateContext" />
    <dllentry dll="libbrcmEGL.so" name="eglCreateWindowSurface" target="eglCreateWindowSurface" />
    <dllentry dll="libbrcmEGL.so" name="eglMakeCurrent" target="eglMakeCurrent" />
    <dllentry dll="libbrcmEGL.so" name="eglSwapBuffers" target="eglSwapBuffers" />
    <dllentry dll="libbrcmEGL.so" name="eglDestroySurface" target="eglDestroySurface" />
    <dllentry dll="libbrcmEGL.so" name="eglDestroyContext" target="eglDestroyContext" />
    <dllentry dll="libbrcmEGL.so" name="eglTerminate" target="eglTerminate" />
    <dllentry dll="libbrcmEGL.so" name="eglGetError" target="eglGetError" />
  </dllmap>
  <dllmap dll="libOpenVG.dll" os="linux" cpu="!arm">
    <dllentry dll="libEGL.so" name="eglGetDisplay" target="eglGetDisplay" />
    <dllentry dll="libEGL.so" name="eglInitialize" target="eglInitialize" />
    <dllentry dll="libEGL.so" name="eglBindAPI" target="eglBindAPI" />
    <dllentry dll="libEGL.so" name="eglChooseConfig" target="eglChooseConfig" />
    <dllentry dll="libEGL.so" name="eglCreateContext" target="eglCreateContext" />
    <dllentry dll="libEGL.so" name="eglCreateWindowSurface" target="eglCreateWindowSurface" />
    <dllentry dll="libEGL.so" name="eglMakeCurrent" target="eglMakeCurrent" />
    <dllentry dll="libEGL.so" name="eglSwapBuffers" target="eglSwapBuffers" />
    <dllentry dll="libEGL.so" name="eglDestroySurface" target="eglDestroySurface" />
    <dllentry dll="libEGL.so" name="eglDestroyContext" target="eglDestroyContext" />
    <dllentry dll="libEGL.so" name="eglTerminate" target="eglTerminate" />
    <dllentry dll="libEGL.so" name="eglGetError" target="eglGetError" />
  </dllmap>
</configuration>
